/*body {
  background-image: url('friends-picture-frame.png')
}*/

h1 {
  text-align: center;
  font-family: Arial, sans-serif;
}

.fit {
  max-width: 75%;
  max-height: 75%;
}

.center {
  display: block;
  margin: auto;
}

.button-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/*.answerChoice { if i use image as button, .answerChoice will have its own style*/
.answerChoice, #start-button, #medium-start, #hard-start {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  margin-top: 50px;
}

.question {
  font-family: Arial, sans-serif;
  text-align: center;
}

/*if i use image as button -- come back
#start-button {
  border: none;
  background-color: inherit;
  color: white;
  margin: auto;
}*/

#buttonA, #buttonD, #start-button {
  background-color: rgba(234, 24, 29, .5);
}

#buttonB, #medium-start {
  background: rgba(1, 179, 232, .5);
}

#buttonC, #hard-start {
  background: rgba(251, 189, 14, .5);
}
