h2 {
  text-align: center;
}

.fit {
  max-width: 75%;
  max-height: 75%;
}

.center {
  display: block;
  margin: auto;
}

.button-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.answerChoice {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: none;
  margin-top: 50px;
}

#buttonA, #buttonD {
  background-color: rgba(234, 24, 29, .5);
}

#buttonB {
  background: rgba(1, 179, 232, .5);
}

#buttonC {
  background: rgba(251, 189, 14, .5);
}
